<div>
  <div class="images-list-wrapper">
	  <div class="images-list-columns">
		  <div class="images-list-pin" ng-repeat="image in images.list | orderBy:timestamp track by image.sha1">
			  <img ui-sref="showImage({id: image.title})" ng-src="{{::image.url}}"/>
        <p>
          {{::image.price | currency}} Total: {{image.count * image.price | currency}}
          <div>
            <button class="btn" ng-click="images.add(image)">{{ images.type === 'search' ? 'Buy' : 'Add' }}</button>
            <button class="btn" ng-if="image.count>0" ng-click="images.remove(image)">Remove ({{image.count}})</button>
          </div>
			  </p>
		  </div>
    </div>
  </div>
</div>
