<div>
  <div class="images-list-wrapper">
	  <div class="images-list-columns">
		  <div class="images-list-pin" ng-repeat="image in images.list track by image.sha1">
			  <img ng-src="{{::image.url}}" image-on-load-dir/>
        <p>
          {{::image.price | currency}}
          <button ng-click="images.add(image)">Buy</button>
          <button ng-show="image.count>0" ng-click="images.remove(image)">Remove ({{image.count}})</button>
			  </p>
		  </div>
    </div>
    <span ng-show="images.list.length===0">
      Sorry no results found...
    </span>
  </div>
</div>
